body
{
	background : url(background.jpg);
	color : white;
	font-family : "Comic Sans MS";
}

.pp
{
	color : white;
	font-size : 20pt;
}

h1, h2, h3
{
	color : white;
	text-align : center;
}

.heading
{
	text-align : center;
}

p
{
	text-align : center;
	color : white;
}


div.container 
{
	text-align: center;
}

ul.myUL 
{
	display: inline-block;
	text-align: left;
}
